// Заголовки, общие БЄМ блоки и проче...

.page {
    &__main {}
    &__services {}
    &__portfolio {}
    &__career {}
    &__blog {}
    &__testimonials {}
    &__skills {}
    &__contacts {}
}

//========================================================================================================================================================

.title {

    &__label {
        text-transform: uppercase;
        font-weight: 500;
        font-size: rem(12);
        line-height: math.div( 24, 12);
        letter-spacing: em(7.5, 12);
        color: $greyColor;
        padding-left: rem(35);
        position: relative;
        &::before{
            content:'';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: rem(16);
            height: rem(2);
            background-color: #D9D9D9;   
        }
        &:not(:last-child) {
            margin-bottom: em(9, 12);
        }
    }

    &__value {
        text-transform: capitalize;
        font-family: "Plus Jakarta Sans";
        font-weight: 700;
        line-height: math.div( 45, 36);
        @include adaptiveValue("font-size", 36, 28);

        span {
            color: $purpleColor;
        }

        &_big {
            line-height: math.div(55.44, 44);
            @include adaptiveValue("font-size", 44, 36);
        }
    }
}

.text {
    line-height: math.div(32, 16);
    p {
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }
}

//========================================================================================================================================================

.socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: rem(5);
    @include adaptiveValue("column-gap", 32, 25);

    &__link {
        transition: color 0.4s ease 0s;
        font-size: rem(24);
        @media (any-hover: hover){
            &:hover{
                color: $purpleColor;
            }
        }
    }
}

//========================================================================================================================================================

.category-link {
    display: inline-block;
    border: 1px solid #f1f1f1;
    border-radius: rem(4);
    color: $greyColor;
    font-size: rem(12);
    padding: rem(4) rem(8);
    line-height: math.div(15, 12);
    transition: all 0.4s ease 0s;
    @media (any-hover: hover){
        &:hover{
            color: #fff;
            background-color: $purpleColor;
            border: 1px solid $purpleColor;
        }
    }
}

//========================================================================================================================================================

.date {
    background-color: #fbfbfb;
    border-radius: rem(4);
    padding: rem(4) rem(8);
    display: inline-block;
    color: $greyColor;
    font-size: rem(12);
    line-height: math.div( 15, 12);
    font-weight: 500;
}
